.collection{
  padding: 0px 70px 0px 130px;
  a{
    text-decoration: none;
  }
  a:link{
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
  }
  .top{
      display: flex;
      height: 17px;
      width: 255px;
      margin: 43px auto;
    text-align: center;
      div{
        margin-right: 43px;
        width: 30px;
        height: 100%;
        font-size: 12px;
        line-height: 17px;
        color: #979797;
      }
      .col{
        color: #2F9842;
      }
  }
  .mainarea{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .main{
      width: 190px;
      margin-right: 70px;
      border-bottom: 1px solid gray;
      padding-bottom: 20px;
      margin-bottom: 20px;
      .cover{
        width: 100%;
        height: 200px;
        margin-bottom: 10px;
        img{
          width: 100%;
          height: 190px;
        }
      }
      .name{
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #000000;

        margin-bottom: 5px;
      }
      .opacity{
        font-size: 12px;
        line-height: 17px;
        color: #000000;
        opacity: 0.4;
        .description,.master,.songs{
          margin-bottom: 10px;
        }
        .count{
          display: flex;
        }
      }
    }
  }
}