.collectiondetail{
  #collectiondetailShare{
    display: none;
    position: absolute;
    top: 27px;
    right: 24px;
  }
  a{
    text-decoration: none;
    &:link{
      color: #767676;
    }
    &:visited{
      color: #767676;
    }
  }
  display: flex;
  padding: 55px 0px 0px 200px;
  .back{
    font-size: 12px;
    line-height: 17px;
    color: #767676;
    margin-right: 25px;
  }
  .content{
    width: 786px;

    .top{
      padding-bottom: 10px;
      border-bottom: 1px solid #EAEAEA;
      width: 100%;
      height: 174px;
      display: flex;
      flex-wrap: wrap;
      .left{
        width: 120px;
        height: 120px;
        img{
          width: 120px;
          height: 120px;
        }
      }
      .right{
        margin-left: 20px;
        width: 600px;

        .name{
          font-size: 30px;
          line-height: 42px;
          color: #000000;
        }
        .colsinger,.intro{
          font-size: 12px;
          line-height: 17px;
          color: #ADADAD;
          margin-top: 10px;
          margin-bottom: 10px;
        }
        .icon{
          display: flex;
          justify-content: flex-end;
          .shoucang{
            font-size: 12px;
            margin-right: 10px;
          }
          .collectiondetail-share{
            width: 12px;
            height: 14px;
            img{
              width: 12px;
              height: 14px;
            }
          }
        }
      }
      .nav{
        display: flex;
        margin-top: 37px;
        .songlist{
          font-size: 12px;
          line-height: 17px;
          color: #000000;
        }
        .other{
          margin-left: 30px;
          font-size: 12px;
          line-height: 17px;
          color: #000000;
          opacity: 0.4;
        }
      }
    }
    .bottom{
      .mainarea-songlist{
        width: 100%;
        padding-top: 10px;
        .main{
          width: 100%;
          display: flex;
          justify-content: space-between;
          .left{
            display: flex;
            align-items: center;
            .ordernumber{
              font-size: 16px;
              line-height: 17px;
              color: #000000;
              font-weight: 500;
              opacity: 0.4;
              margin-right: 20px;
            }
            .songleft{
              width: 50px;
              height: 50px;
              margin-right: 20px;
              margin-bottom: 20px;
              margin-top: 20px;
              img{
                width: 50px;
                height: 50px;
              }
            }
            .songright{
                .name{
                  font-size: 13px;
                  line-height: 17px;
                  color: #000000;
                  padding-bottom: 2px;
                }
                .singer{
                  font-size: 12px;
                  line-height: 17px;
                  color: gray;
                }
            }
          }
          .right{
            display: flex;
            align-items: center;
            div{
              margin-right: 25px;
            }

          }
        }
      }
      .mainarea-others{
        display: none;
        width: 100%;
        padding-top: 30px;
        .main{
          width: 100%;
          height: 80px;
          display: flex;
          margin-bottom: 15px;
          .left{
            width: 80px;
            height: 80px;
            img{
              width: 80px;
              height: 80px;
            }
          }
          .right{
            margin-left: 30px;
            .name{
              margin-top: 7px;
              font-size: 13px;
              line-height: 17px;
              font-weight: 500;
              color: #000000;
            }
            .count,.updatetime{
              margin-top: 7px;
              font-size: 12px;
              line-height: 17px;
              color: #000000;
              opacity: 0.4;
            }
          }
        }
      }
    }
  }
}