.mhzdetail{
  hr{
    width: 600px;
  }
  width: 786px;
  margin: 80px auto;
  padding: 40px;
  border: 1px solid #E4E4E4;
  box-sizing: border-box;
  position: relative;
  .share-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-size: 14px;
    line-height: 20px;
    color: #9A9A9A;
    img{
      height: 14px;
      width: 14px;
      margin-right: 10px;
    }
  }
  .mhzdetail-qrcode{
    display: none;
    position: absolute;
    top: 66px;
    right: -46px;
  }
  .singer{
    width: 300px;
    margin: 0px auto;
    .heardimg{
      width: 150px;
      margin: 0px auto;
      img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
      }
    }
    .name{
      text-align: center;
      height: 42px;
      margin: 0px auto;
      margin-top: 15px;
      margin-bottom: 10px;
      span{
        font-size: 30px;
        line-height: 42px;
        color: #000000;
      }
    }
    .button{
      width: 77px;
      height: 20px;
      margin: 0px auto;
      margin-bottom: 40px;
      button{
        background: #fff;
        border: 1px solid #D7D7D7;
        box-sizing: border-box;
        font-size: 12px;
        line-height: 17px;
        color: #C5C5C5;
      }
    }
  }
  .songs{
    width: 586px;
    padding: 40px 0px;
    margin: 0px auto;
      .all{
        img{
          width: 11px;
          height: 11px;
          margin-right: 10px;
        }
        padding-left: 23px;
        font-size: 12px;
        line-height: 17px;
        color: #2F9842;
      }
    .songlist{
      width: 100%;
      vertical-align: middle;
      ul{
        .song{
          display: flex;
          span{
            font-size: 13px;
          }
          img{
            width: 20px;
            height: 20px;
            vertical-align: middle;
            margin: 0px 5px 20px;
          }
          li{
            list-style:none;
            span{
              vertical-align: middle;
              margin-bottom: 10px;
              font-size: 12px;
              line-height: 17px;
              color: #000000;
            }
          }
        }
      }
    }
    .findall{
      padding-left: 23px;
      font-size: 12px;
      line-height: 17px;
      color: #AFAFAF;
    }
  }
  .simartist{
    width: 586px;
    height: 325px;
    padding: 40px 0px;
    margin: 0px auto;
    .name{
      font-size: 12px;
      line-height: 17px;
      color: #2F9842;
      margin-bottom: 20px;
      img{
        width: 11px;
        height: 11px;
        margin-right: 10px;
      }
    }
    .intro{
      padding-left: 23px;
      font-size: 12px;
      line-height: 17px;
      color: #AFAFAF;
      margin-bottom: 40px;
    }
    .mainarea{
      width: 571px;
      display: flex;
      justify-content: center;
      .main{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 140px;
        .heardimg{
          width: 100px;
          height: 100px;
          img{
            width: 100px;
            height: 100px;
            border-radius: 50%;
          }
        }
        .name{
          margin-top: 20px;
          margin-bottom: 40px;
          text-align: center;
        }
      }
    }
  }
}