<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>explore</title>
    <link rel="stylesheet" th:href="@{/css/mhz.css}">
    <link rel="shortcut icon" href="https://huaban.com/img/touch-icon-iphone.png" type="image/x-icon">

</head>
<body>
<div class="mhz" th:fragment="mhz">
    <div class="artist">
        <div class="title">从艺术家出发</div>
        <div class="mainarea">
            <div class="main" th:each="art,it : ${artistDatas}">
                    <div class="heardimg"><img th:src="${art.cover}" alt=""></div>
                    <div class="name" ><a target="_blank" th:href="'/artist?subjectId='+${art.id}">[[${art.name}]]</a></div>
                    <div class="info">[[${art.description}]]</div>
            </div>
        </div>
        <hr>
    </div>
    <button class="reloadMore">加载更多兆赫</button>
    <div class="mood">
        <div class="title">心情 / 场景</div>
        <div class="main" th:each="mhz : ${mhzViewModels}" >
            <div class="name" th:if="${#strings.equals(mhz.title,'心情 / 场景')}">
                <div th:each="subject : ${mhz.subjects}">
                    [[${subject.name}]] <span>mhz</span>
                </div>
            </div>

        </div>
        <hr>
    </div>
    <div class="age">
        <div class="title">语言 / 年代</div>
        <div class="main" th:each="mhz : ${mhzViewModels}">
            <div class="name" th:if="${#strings.equals(mhz.title,'语言 / 年代')}">
                <div th:each="subject : ${mhz.subjects}">
                    [[${subject.name}]] <span>mhz</span>
                </div>
            </div>

        </div>
        <hr>
    </div>
    <div class="style">
        <div class="title">风格 / 流派</div>
        <div class="main" th:each="mhz : ${mhzViewModels}">
            <div class="name" th:if="${#strings.equals(mhz.title,'风格 / 流派')}">
                <div th:each="subject : ${mhz.subjects}" >
                    [[${subject.name}]] <span>mhz</span>
                </div>
            </div>

        </div>
        <hr>
    </div>
</div>
</body>
</html>