<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>歌单详情</title>
    <link rel="stylesheet" th:href="@{/css/mhzdetail.css}">
    <link rel="stylesheet" th:href="@{/css/share.css}">
    <link rel="shortcut icon" href="https://huaban.com/img/touch-icon-iphone.png" type="image/x-icon">
    <meta name="referrer" content="no-referrer"/>
</head>
<body>
<div class="mhzdetail" th:fragment="mhzdetail">
    <div class="share-icon" ><div onmouseover="showSharebox()" onmouseout="hiddenSharebox()"><img th:src="@{/images/share.png}" alt="">分享</div></div>
    <div class="mhzdetail-qrcode" id="mhzdetail-qrcode">
        <div th:replace="share::share"></div>
    </div>
    <div class="singer">
        <div class="heardimg"><img th:src="${subject.cover}" alt=""></div>
        <div class="name"><span>[[${subject.name}]]</span></div>
        <div class="button">
            <button>喜欢 50619</button>
        </div>
    </div>
    <hr>
    <div class="songs">
        <div class="all"><img th:src="@{/images/polygon-play.png}" alt="">全部精选歌曲</div>
        <div class="songlist">
            <ul>
                <div th:each="song,it: ${songs}">
                    <div th:if="${it.count}<=5" class="song">
                        <span>[[${it.count}]].</span>
                        <img th:src="${song.cover}" alt="">
                        <li>
                            <span>[[${song.name}]]</span>
                        </li>
                    </div>
                </div>

            </ul>
        </div>
        <div class="findall">
            查看全部精选歌曲
        </div>
    </div>
    <hr>
    <div class="simartist">
        <div class="name"><img th:src="@{/images/polygon-play.png}" alt="">[[${subject.name}]]</div>
        <div class="intro">该兆赫可能包含以下相似艺术家的歌曲</div>
        <div class="mainarea">
            <div class="main" th:each="singer,it: ${simSingers}">
                <div th:if="${it.count}<=8" class="main">
                    <div class="heardimg"><img th:src="${singer.avatar}" alt=""></div>
                    <div class="name">[[${singer.name}]]</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script th:src="@{js/qrcode-min.js}"></script>
<script type="text/javascript">
    var qrcode = new QRCode("qrcode", {
        text: "www.baidu.com",
        width: 100,
        height: 100,
        colorDark : "#000000",
        colorLight : "#ffffff",
        correctLevel : QRCode.CorrectLevel.H
    });
    //获得整体的share
    let mhzdetailQrcode = document.getElementById("mhzdetail-qrcode");
    //鼠标悬浮分享图片时的弹框
    let showSharebox = function () {
        mhzdetailQrcode.setAttribute("style","display:block");
    }
    //隐藏弹框
    let hiddenSharebox = function () {
        mhzdetailQrcode.setAttribute("style","display:none");
    }
</script>
</html>